:root{
    --cor-de-fundo: #b6c2f7;
    --PaleGoldenrod:#EEE8AA

}

body{
    background-color: var(--cor-de-fundo);
    border: 4px double var(--PaleGoldenrod) ;

}

.imagem1{
    width: 30%;
}