body{
    background-color: #b6c2f7;
    font-family:"Helvetica";
    font-weight: 400;
    font-size: 20px;
    color:black;
    text-align: center
    line-height: 1.5;
    border: 5px dashed #EEE8AA;

}

.imagem1{
    width: 30%;
}
.imagem2{
    width: 15%;
}

h2{
    color: black ;
    background-color:#EEE8AA ;
    text-align: center;
}