body{
    background: linear-gradient(#b9c4f6,#5974ee);
    font-family:"Helvetica";
    font-weight: 400;
    font-size: 20px;
    color:black;
    text-align: center
    line-height: 1.5;
    border: 5px dashed #EEE8AA;
    margin: 30px;
    padding: 25px;

}

.imagem1{
    width: 33%;
}

h2{
    color: black ;
    background-color:#EEE8AA ;
    text-align: center;
}

iframe{
    display: block;
    margin: auto;
}

.paragrafo1{
    color: black ;
    background-color:#EEE8AA ;
    text-align: center;
}